@import "tailwindcss";
@plugin "daisyui"{
    themes: light, dark, autumn, nord;
}
@plugin "daisyui/theme" {
    name: "nord";
    default: true;
    --color-primary: #071952;
    --color-secondary: #088395;
    --color-accent: #37B7C3;
    --color-base-100: #EBF4F6;
}

.navlinksm li a.active{
    color: #EBF4F6;
    border-radius: 24px;
    background-color: #088395;
}

.navlinklg li a.active{
    /* border: 2px solid #088395; */
    color: #EBF4F6;
    border-radius: 24px;
    background-color: #088395;
}

.footlink li a.active{
    background-color: #088395;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #EBF4F6;
    border-radius: 24px;
}

.dashlink li a.active{
    background-color: #088395;
    color: #EBF4F6;
    border-radius: 24px;
}